<form class="ui segment form" action="/dashboard/adddirector" method="POST">
  <div class="one field">
    <div class="field">
      <label>Title</label>
      <input placeholder="Name" type="text" name="name" autofocus required>
    </div>
  </div>
    <button class="ui blue submit button">Add Director</button>
</form>
