  <form class="ui segment form" action="/director/{{id}}/addmovie" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label>Genre</label>
      <input placeholder="e.g. Action, Drama, Sci-Fi" type="text" name="genres" required>
    </div>
  </div>
  <button class="ui blue submit button">Add Movie</button>
</form>
  </section> 