<nav class="ui stackable menu" style = "font-family: 'Inter', sans-serif;">
  
  <header class="ui header item"> <a href="/"> Home </a></header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About  </a>
    <a id="search" class="item" href="/search"> Search</a>
    
  </div>
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>


