{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Welcome to the Movie Tracker</h2>
  
   <p>
     Explore a collection of movies and the visionary directors behind them. Browse films across all genres, from timeless classics to modern masterpieces. Learn about a director's filmography,
discover movie release dates, ratings, and plot.
  </p>
  
  {{!-- <img src="https://cdn.glitch.global/fd1786af-0a57-4f8d-878e-80dd53e2bfb0/movies.jpg?v=1741118808740" class="ui centered image">
  --}}

</section>
