@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&display=swap');


html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 2em;
  background-color: #13274F;
}

td:first-child {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
   font-weight: bold;
    font-size: 2.4rem;
  
}


h3 {
 font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}

.ui.center.aligned.header {
  
   font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #ffcc00;
  
}

.movie-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.ui.label {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.1rem;
  padding: 0.6em 1em;
  background-color: #ffcc00; 
  color: black;
  font-weight: bold;
}

.platform-button {
  display: inline-block;
  width: 180px; 
  height: 50px; 
  margin: 10px; 
  border-radius: 10px; 
  border: none; 
  padding: 0;
  overflow: hidden; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s ease-in-out;
}

.platform-button:hover {
  transform: scale(1.05); 
}

.platform-button a {
  display: block;
  width: 100%;
  height: 100%;
}

.platform-logo {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}


.search-form {
  max-width: 400px;               
  border-radius: 8px;          
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;

}


.search-form form {
  display: flex;
  align-items: center;
}


#searchBar {
  width: 100%;                  
  padding: 12px;                
  font-size: 1.1rem;            
  border: 1px solid;     
  border-radius: 4px;           
}


#searchBar:focus {
  border-color: #ffcc00;        
  outline: none;
  box-shadow: 0 0 5px rgba(255, 204, 0, 0.5);
}

.editSubmit {
  border:none;
  background: none;
}
